
    /* Full html */
    body{
        font-family: Roboto Mono;
    }
    header {
        margin: 3%;
        text-align: center;
    }
    nav.navigation {
        width: 100%;
    }
    .navigation {
        color: white;
        max-width: 100%;
    }
    .navigation a {
        text-decoration: none;
        color: white;
        padding: .8rem;
        border-radius: 15px;
        margin: 5%;
        width: 100%;
    }
    .nav1 {
        background-color: #ff764e;
    }
    .nav2 {
        background-color: #5ed3eb;
    }
    .nav3 {
        background-color: #ffcd69;
    }
    h1 {
        font-family: Chelsea Market;
        font-size: 2rem;
    }
    section {
        margin: 0 10%;
    }
    .middle {
        color: white;
        background-color: #ddb9a3;
        padding: 1%;
        margin: 0 3%;
        width: 60%;
    }
    .lower {
        margin: 0 15%;
        width: 30%;
        text-align: center;
    }
    span {
        font-weight: bold;
    }
    footer {
        background-color: #f9e7dc;
        padding: 7%;
    }